.issue {
  padding: 45px;
  border: 1px solid #ddd;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
  line-height: 1.6;
  a {
    color: $color-link;
  }
  &__title {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
    font-size: 36px;
  }
  &__container {
    padding-left: 30px;
  }
  &__item {
    margin-bottom: 30px;
  }
  &__heading {
    font-size: 24px;
    > a {
      color: $color-black;
    }
  }
  &__img {
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
  }
  &__text {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &__author {
    line-height: 1;
    color: #009900;
  }
}
