script(type="text/tempalte" id="javascript-template")
  li.issue__item
    h2.issue__title
      a(href!="<%= link %>" target="_blank") <%= title %>
    p.issue__text <%= text %>
    p.issue__author <%= author %>

script(type="text/tempalte" id="css-template")
  li.issue__item
    h2.issue__title
      a(href!="<%= link %>") <%= title %>
    <% if (img) { %>
    img.issue__img(src!="<%= img %>" alt="")
    <% } %>
    p.issue__text <%= text %>
