doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title anyweekly
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:800')
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../bower_components/normalize-css/normalize.css')
    // endbower
    // endbuild
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    header.header
      h1.header__title anyweekly
      form.header__form
        select#select
          option(value="" selected) Select Weekly
          option(value="html5") HTML5 Weekly
          option(value="css") CSS Weekly
          option(value="javascript") JavaScript Weekly
          option(value="node") Node Weekly
    main.l-container
      #issue.issue

    script(src="https://www.google.com/jsapi")

    include partials/template

    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/app.js')
    // endbuild
